* {
    box-sizing: border-box;
}

.image-list {
    margin: auto;
}

.modal-content {
    height: auto;
}

.modal-footer {
    justify-content: center;
}

.modal-header {
    height: 10%;
    background-color: #213d77;
    color: white;
}

.close {
    float: right !important;
    font-size: 1.9rem !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: white !important;
    /* text-shadow: 0 1px 0 #fff; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.column img {
    height: 95%;
    width: 85%;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.image-data {
    height: fit-content;
    padding: 10px;
    border-radius: 14px;
}

.bd-example-modal-lg {
    object-fit: contain;

}

.questionFormHeader {
    background-color: #213d77;
    padding-top: 10px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    justify-content: center;
    text-align: center;

}

.questionFormHeader h2 {
    text-align: center;
}

.image-galary-container {
    padding-top: 5px;
}



@media screen and (max-width: 480px) {
    .modal-content {
        height: auto;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

@media (max-width: 768px) {
    .modal-content {
        height: auto;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

@media (max-width: 992px) {
    .modal-content {
        height: auto;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 25%);
    }
}



@media (min-width: 1281px) {
    .modal-content {
        height: auto;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .modal-content {
        height: auto;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 4%);
    }
}