<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #030f18; color: white;">

  <div style="background-color: #213d77; color:white;">
    <div class="container" style=" color:white;">
      
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-4  text-md-left mb-4 mb-md-0">
          <h3>Get connected with us on social networks!</h3>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-8 text-center text-md-right">

          <!-- Facebook -->
          <a class="tw-ic">
            <span><img class="social-media-icon" src="/assets/icons/icons8-facebook.svg" alt=""></span>
          </a>
          <!-- Twitter -->
          <a class="tw-ic social-media-icon">
            <span ><img class="social-media-icon" src="/assets/icons/icons8-twitter.svg"  alt=""></span>
          </a>
          <!-- Google +-->
          <a class="tw-ic">
            <span><img class="social-media-icon" src="/assets/icons/icons8-google.svg" alt=""></span>
          </a>
          <!--Linkedin -->
          <a class="tw-ic">
            <span><img class="social-media-icon" src="/assets/icons/icons8-linkedin.svg" alt=""></span>
          </a>
          <!--Instagram-->
          <a class="tw-ic">
            <span><img class="social-media-icon" src="/assets/icons/icons8-instagram.svg" alt=""></span>
          </a>
           <!--whatsapp-->
           <a class="tw-ic" (click)="openLink('whatsApp')">
            <span><img class="social-media-icon" src="/assets/icons/icons8-whatsapp.svg" alt=""></span>
          </a>


        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>

  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Maharshi Valmiki V. P. Inter College</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 14.2rem;">
        <p>Maharshi Valmiki Vidya Peeth Inter College is Co-Education School, Bhaisatiker Sant Kabir Nagar. The year
          of the establishment of the Maharshi Valmiki Vidya Peeth Inter College is 2009, was the realization of a dream
          by selfless and dedicated educationist and social worker, Mr. Amar Ray.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Departments</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 7rem;">
        <p>
          <a class="dark-grey-text">Secondary school (Arts | Science) </a>
        </p>
        <p>
          <a class="dark-grey-text">Matric (English Medium)</a>
        </p>
        <p>
          <a class="dark-grey-text">ITI(Electrical | Machenical)</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Useful links</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 6.6rem;;">
        <p>
          <a class="dark-grey-text">Manage Students</a>
        </p>
        <p>
          <a class="dark-grey-text">Manage Faculties</a>
        </p>
        <p>
          <a class="dark-grey-text">Admission</a>
        </p>
        <p>
          <a class="dark-grey-text">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Contact</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 4.5rem;">
        <p>
          <!-- <mdb-icon class="mr-3"></mdb-icon>  -->
          Bhaisatikar Ramjanki Marg Haisar Bazar S.K Nagar UP-272165
        </p>
        <p>
          <!-- <mdb-icon class="mr-3"></mdb-icon>  -->
          mvvpicollege@gmail.com
        </p>
        <p>
          <!-- <mdb-icon class="mr-3"></mdb-icon> -->
           + 022 12345786
        </p>
        <p>
          <!-- <mdb-icon class="mr-3"></mdb-icon> -->
           +91 9415193378 | 9838539478
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white-50 py-3">© 2009 Copyright:
    <a class="dark-grey-text" href="https://mvvpicollege-sknagar.web.app/mvvpic/">mvvpic.in</a> 
  </div>
  <div class="footer-copyright text-center text-white-50 py-3">© Developed & Managed By:
    <a class="dark-grey-text" href="https://www.linkedin.com/in/taufique-rasheed-mirza-0aa421157/?originalSubdomain=in">Taufique Mirza</a> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->